.container {
    padding-top: 50px;
}

.sale {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;
    align-items: center;

}

.container_flour_batch {
    display: flex;
    justify-content: center;
    align-items: center;
}